/* PAGE HEADER */
.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 3.2rem;
    box-shadow: 0 0.4rem 1.6rem var(--opaque-shadow-sm);
}

/* LOGO CONTAINER */
.div-logo-container {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.div-logo-container img {
    width: 4.8rem;
}

.div-logo-container h2 {
    font-size: 2.4rem;
}

/* PAGE HEADER NAVIGATION LIST */
.page-header-navigation-list {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

/* PAGE HEADER NAVIGATION LIST ITEM */
.page-header-navigation-list-item {
    position: relative;
}

.page-header-navigation-list-item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -0.8rem;
    width: 0.4rem;
    height: 0.4rem;
    background-color: var(--white);
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
    transform: translateY(-50%);
}

.page-header-navigation-list-item:hover::before,
.active.page-header-navigation-list-item::before {
    background-color: var(--primary);
}

.page-header-navigation-list-item a:link,
.page-header-navigation-list-item a:visited {
    font-size: 1.4rem;
}
